# Keil MDK 编译输出文件夹
Objects/
Listings/
xy_bsp/MDK-ARM/xy_bsp/
*.axf *.hex *.bin *.map *.elf *.sct *.lnp
*.o *.d *.crf *.lst *.dep *.bak

# Keil 临时配置（保留uvprojx工程文件，过滤临时布局文件）
*.uvoptx
*.uvguix.*

# CubeMX 缓存
*.mxproject
*.ioc.bak

# 系统/编辑器缓存
.vscode/
.DS_Store
Thumbs.db